Makefile.in
aclocal.m4
autom4te.cache/
m4/
config.h.in
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
.deps/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
